footer {
  text-align: center;
  font-size: 1rem;
  font-weight: 200;

  .Google-Map {
    margin: 0 auto;
    width: 400px;
  }

  .footer-company-name {
    width: 10em;
    border-top: 2px solid black;
    margin: 0 auto;
    padding-top: 10px;
  }
}

@media (min-width: 480px) {
    .Google-Map {
      text-align: left;
    }
}
