footer {
  text-align: center;

  .contact-info {
    border-top: 2px solid black;
    padding-top: 10px;
  }

  .Google-Map {
    margin: 0 auto;
    width: 400px;
  }

  .footer-company-name {
    border-top: 2px solid black;
    padding-top: 10px;

  }
}
