header {
  text-align: center;
  padding: 2rem 10%;
  position: relative;

  .banner {
    width: 100%;
    margin: 0 auto;
    display: inline-block;

.logo {
  padding: 0;
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;

img {
  width: 30%;
}
}
  h1 {
    font-size: 40px;

}
}
  // .socMedia {
  //   position: absolute;
  //   right: 5%;
  //   top: 3rem;

  // }
  .socMedia {
    position: relative;
    float: right;
    span {
      display: none;
      padding-bottom: 1rem;
    }
    i {
      display: block;
      width: 10%;
      margin: 0 auto;
      font-size: 20px;
    }

    .fa-twitter-square {
      color: #55ACEE;
    }

    .fa-facebook-square {
      color: #4862A3;
    }

  }
}
  header::after {
    content:'';
    display: block;
    clear: both;


}
h3 {
  width: 50%;
  margin: 0 auto;

}



@media (min-width: 481px) {
  header {
    .socMedia {
      position: absolute;
      right: 1%;
      top: 3rem;

      span {
        display: block;
      }

      i {
        display: inline;
      }

    }
  }
}
