.image-block {
  @include clearfix;
  text-align: center;
  ul {
    @include ul-adjust;
  }
  .slide {
    float: left;
    display: inline-block;
    img {
      float: left;
      width: 100%;
    }
  }
}

.services {
  display: none;
}

@media (min-width: 965px) {
  .slide {
    float: left;
    display: inline-block;
    width: 33%;
    img {
      float: left;

    }
  }

  .services {
    display: inline;
  }
}
